body{
    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.44) 45%,
            rgba(0, 0, 0, 0.8) 100%
    ), url('../../images/earlyhist-bg.jpg');
}

.pic{
    display: block;
  max-width:40%;
  max-height:40%;
  width: auto;
  height: auto;
  margin:auto;
}
