section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-block {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px;
    width: 300px;
    text-align: center;

    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.91),
            rgba(0, 0, 0, 0.2) 45%,
            rgba(0, 0, 0, 0.8) 100%
    ), url('../../images/marble.jpg');
    background-size: cover;
    background-position: center;
    /*cursor: pointer; Should be automatically added by <a> */

    color: white;
    text-decoration: none;

    transition: all 0.3s ease-in-out;
}
.info-block-content {
    transition: all 0.3s ease-in-out;
}
.info-block-holder:hover .info-block-content{
    transform: scale(1.05);
}
.info-block-holder:hover + .info-block{
    /*background-size: 110%;*/
    text-align: left;
}

.info-block-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #a64c00;
    text-shadow: 2px 2px 4px rgb(31, 31, 31);
    text-decoration: #724222 underline;
}

.info-block p {
    font-size: 16px;
    color: #ff9446;
}


#history-block{
    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.91),
            rgba(0, 0, 0, 0.2) 45%,
            rgba(0, 0, 0, 0.8) 100%
    ), url('../../images/history-block-BG_1.jpg');
}

#culture-block{
    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.91),
            rgba(0, 0, 0, 0.2) 45%,
            rgba(0, 0, 0, 0.8) 100%
    ), url('../../images/culture-block-BG_1.webp');
}

#art-block{
    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.91),
            rgba(0, 0, 0, 0.2) 45%,
            rgba(0, 0, 0, 0.8) 100%
    ), url('../../images/art-block-BG_1.jpg');
}