section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-block {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px;
    width: 300px;
    text-align: center;

    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.91),
            rgba(0, 0, 0, 0.2) 45%,
            rgba(0, 0, 0, 0.8) 100%
    ), url('../../images/old-metal1.jpg');
    background-size: cover;
    background-position: center;
}

.info-block h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #a64c00;
    text-shadow: 2px 2px 4px rgb(31, 31, 31);

}

.info-block p {
    font-size: 16px;
    color: #ff9446;
}