body {
    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.44) 45%,
            rgba(0, 0, 0, 0.8) 100%
    ), url('../../images/personas-bg.jpg');
}

.persona {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
}

.persona img{
    width: 150px;
    height: auto;
    border-radius: 10%;
    box-shadow: 5px 10px 13px rgba(0, 0, 0, 0.89);
}

.persona-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media all and (min-width: 1033px) {
    .persona-header{
        flex-direction: column;
    }

    .persona img{
        width: 40%;
        height: 40%;
    }
}